/* Базовые стили */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html,
body {
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

body {
  background-color: #0f172a;
  color: #f1f5f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  padding: 24px; /* p-6 */
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px; /* gap-6 */
  overflow: hidden;
}

/* Утилиты */
.hidden {
  display: none !important;
}

.visible {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-mono {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

.text-slate-300 {
  color: #cbd5e1;
}

.text-slate-500 {
  color: #64748b;
}

.text-\[9px\] {
  font-size: 9px;
}

.mt-2 {
  margin-top: 8px;
}

.leading-tight {
  line-height: 1.25;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.tracking-widest {
  letter-spacing: 0.1em;
}
